[user]
	name = "Satoshi Imamura"
	email = satoshi.jb@gmail.com

[core]
	editor = nvim
	quotepath = false

[init]
	defaultBranch = main

[color]
	ui = auto

[alias]
	a = add
	aa = add --all
	b = branch
	c = commit
	ca = commit --amend
	cm = commit -m
	co = checkout
	d = diff
	ds = diff --staged
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	p = push
	pl = pull
	rb = rebase
	s = status -s
	unstage = reset HEAD --

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
	
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager

[credential "https://dev.azure.com"]
	useHttpPath = true
[ghq]
	root = ~/GitHub
